// ==========================================================
// Heading      : Config File
// Description  : Variables and other sorts of config settings
// are implemented here. 
// ==========================================================

$base-font-size: 16px;

$g-col-width: 65 !default;
$g-gutter-width: 20 !default;
$g-col-count: 12 !default;
$g-cont-max-width: 1050px !default;
$g-col-padding: 15px;


// Break Points
$brkpoint-xs: 1px;
$brkpoint-sm: 420px;
$brkpoint-md: 768px;
$brkpoint-lg: 1350px;
//$brkpoint-lg: 1100px;
